section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.post1{
    display: flex;
    width: 90%;
    height: 25vh;
    justify-content: center;
    border: 3px solid #cd4ca1;
    border-radius: 8px;
    margin: 20px;
}

.post2{
    display: flex;
    width: 90%;
    height: 25vh;
    justify-content: center;
    border: 3px solid #cd4ca1;
    border-radius: 8px;
    margin: 20px;
}

.post3{
    display: flex;
    width: 90%;
    height: 25vh;
    justify-content: center;
    border: 3px solid #cd4ca1;
    border-radius: 8px;
    margin: 20px;
}

h3 {
    display: flex;
    padding: 10px;
    margin: 10px;
}
