<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
  
  <label for="nome">Nome:</label>
  <input id="nome" type="text" formControlName="name" /> 
  <div *ngIf="cadastroForm.get('name')?.invalid && cadastroForm.get('name')?.touched">
    Nome é obrigatório e deve ter pelo menos 3 caracteres.
  </div>

  <label for="cpf">CPF:</label>
  <input id="cpf" type="text" formControlName="cpf" />
  <div *ngIf="cadastroForm.get('cpf')?.invalid && cadastroForm.get('cpf')?.touched">
    CPF inválido.
  </div>

  <label for="email">e-mail:</label>
  <input id="email" type="text" formControlName="email" />
  <div *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched">
    e-mail inválido.
  </div>

  <label for="registro">Registro Profissional:</label>
  <input id="registro" type="text" formControlName="regis" /> 
  <div *ngIf="cadastroForm.get('regis')?.invalid && cadastroForm.get('regis')?.touched">
    Registro inválido.
  </div>

  <label for="endereco">Endereço:</label>
  <input id="endereco" type="text" formControlName="adress" /> 
  <div *ngIf="cadastroForm.get('adress')?.invalid && cadastroForm.get('adress')?.touched">
    Endereço é obrigatório.
  </div>

  <label for="telefone">Telefone:</label>
  <input id="telefone" type="text" formControlName="fone" /> 
  <div *ngIf="cadastroForm.get('fone')?.invalid && cadastroForm.get('fone')?.touched">
    Telefone inválido.
  </div>

  <label for="profissao">Profissão:</label>
  <input id="profissao" type="text" formControlName="prof" /> 

  <label for="especialidade">Especialidade:</label>
  <input id="especialidade" type="text" formControlName="especialidade" />

  <label for="senha">Senha:</label>
  <input id="password" type="password" formControlName="password" />
  <div *ngIf="cadastroForm.get('password')?.invalid && cadastroForm.get('password')?.touched">
    Senha inválida. Deve ter pelo menos 6 caracteres.
  </div>

  <label for="comentarios">Comentários:</label>
  <textarea id="comentarios" formControlName="coments"></textarea> 

  <button type="submit" [disabled]="cadastroForm.invalid">Enviar</button>
  <button type="button" *ngIf="isEdit" (click)="onDelete()">Deletar</button>
</form>
