<app-header />
<div class="container">
    
    
    <div class="frame1">
        <h2>Quem somos?</h2>
        <p>
            MindCare surgiu da necessidade de unir 
            o melhor do atendimento médico ao cuidado
            aconchegante da família!
        </p>
        <p>
            Neste espaço os clientes têm acesso aos 
            melhores profissionais, clínicas, laboratórios
            e espaços terapêuticos.
        </p>

    </div>
    <div class="blog-section">
        
        <h3>
            Fique atualizado com as últimas notícias e artigos.
        </h3>
    
        <div class="blog-posts">
            <!-- Postagem 1 -->
            <article class="blog-post">
                <h2>Como a tecnologia está transformando o cuidado médico</h2>
                <p>Publicado em 18 de Setembro de 2024</p>
                <p>
                    A tecnologia vem revolucionando o setor de saúde, trazendo novas maneiras de diagnosticar, tratar e monitorar pacientes...
                </p>
                <a href="/about" class="read-more">Leia Mais</a>
            </article>
    
            <!-- Postagem 2 -->
            <article class="blog-post">
                <h2>Os benefícios da telemedicina para pacientes e profissionais</h2>
                <p>Publicado em 10 de Setembro de 2024</p>
                <p>
                    A telemedicina tem se mostrado uma ferramenta essencial para conectar médicos e pacientes, reduzindo a distância e facilitando o acesso à saúde...
                </p>
                <a href="about" class="read-more">Leia Mais</a>
            </article>
    
            <!-- Postagem 3 -->
            <article class="blog-post">
                <h2>5 Dicas para melhorar a saúde mental no dia a dia</h2>
                <p>Publicado em 5 de Setembro de 2024</p>
                <p>
                    Cuidar da saúde mental é tão importante quanto a saúde física. Aqui estão 5 dicas simples para manter o bem-estar mental no cotidiano...
                </p>
                <a href="about" class="read-more">Leia Mais</a>
            </article>
        </div>
    </div>
    
    <section class="cta-section">
        <h2>Faça Parte do MindCare</h2>
        <p>Cadastre-se agora e faça parte da nossa comunidade.</p>

        <a href="/cadastro" class="cta-button">Cadastre-se como Profissional</a>


        <a href="/clientes" class="cta-button secondary">Cadastre-se como Cliente</a>
    </section>
</div>


<app-footer />
