<div class="encarte1-conteiner" >
    <div class="card-header">
        <h2>Descubra MindCare</h2>
    </div>
    <div class="card-body">
        <p>
            MindCare é uma plataforma inovadora
             projetada para transformar a gestão 
             de relacionamentos entre pacientes e 
             profissionais da saúde. 
        </p>
        <p>
            Nossa solução 
             facilita a comunicação, melhora o 
             acompanhamento dos tratamentos e 
             promove um ambiente de cuidado mais 
             integrado e personalizado.
        </p>
        <p>
             Com MindCare, tanto pacientes quanto 
             profissionais têm à disposição 
             ferramentas que simplificam o dia a 
             dia e potencializam os resultados 
             clínicos.
        </p>

        <a href="about" class="btn saiba-mais">Saiba Mais</a>
    </div>
    
</div>
